.myheader {
	background-color: #337AB7;
	color: black;
	text-align: center;
	height: 100px;
    width: 80%;
    font-family: 'Saira', sans-serif;
    font-family: 'Sedgwick Ave', cursive;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%
}

.mynavl{
    line-height: 30px;
    height: 1100px;
    width: 10%;
    float: left;
    background-image: url(app/assets/images/reklama_1.jpg);
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.mynavlcontent {
    padding: 5px;
    font-size: 150%;
   

}

.mysection{
    width: 80%;
    height: 1100px;
    float: left;
    background-image: url(app/assets/images/pozadina.jpg);
    color: 'white';
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 5px;    
}

.mysectioncontent{
    padding: 10px;
}

.mynavr{
    line-height: 30px;
    height: 1100px;
    width: 10%;
    float: right;
    background-image: url(app/assets/images/reklama_2.jpg);
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}


.mynavrcontent{
padding: 5px;
}

.myfooter{
    background-color: #337AB7;
    clear: both;
    color: white;
    text-align: center;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 10px;


}
