.myheader {
	background-color: #337AB7;
	color: black;
	text-align: center;
	height: 100px;
    width: 80%;
    font-family: 'Saira', sans-serif;
    font-family: 'Sedgwick Ave, cursive';
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%
}

.mynavl{
    line-height: 30px;
    height: 1100px;
    width: 10%;
    float: left;
    background-image: url(app/assets/images/reklama_1.jpg);
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.mynavlcontent {
    padding: 5px;
    font-size: 150%;
}

.mysection{
    width: 100%;
    height: 1100px;
    float: left;
    background-image: url(app/assets/images/header.jpg);
    color: 'white';
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 1px;    
}

.mysectioncontent{
    padding: 10px;
}

.mynavr{
    line-height: 30px;
    height: 1100px;
    width: 10%;
    float: right;
    background-image: url(app/assets/images/reklama_2.jpg);
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}


.mynavrcontent{
padding: 5px;
}


.text-center{
    color: whitesmoke;
}

.panel-heading{
    font-family: 'Saira', sans-serif;
    font-family: 'Sedgwick Ave', cursive;
    border-radius: 5px;
}
.panel-body{
    background-color: whitesmoke
}







@import url(http://fonts.googleapis.com/css?family=Anaheim);
/*
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
*:before,
*:after{
	box-sizing: border-box;
}
html,
body{
	min-height: 100%;
}
body{
	background-image: radial-gradient(mintcream 0%, lightgray 100%);
}*/
h1{
	display: table;
	margin: 5% auto 0;
	text-transform: uppercase;
	font-family: 'Anaheim', sans-serif;
	font-size: 4em;
	font-weight: 400;
	text-shadow: 0 1px white, 0 2px black;
}
.container{
	margin: 4% auto;
	width: 170px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 90%;
	height: 50%px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(30deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(60deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(90deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(150deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(180deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(210deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(10) { transform: rotateY(270deg) translateZ(288px);}
#carousel figure:nth-child(11) { transform: rotateY(300deg) translateZ(288px);}
#carousel figure:nth-child(12) { transform: rotateY(330deg) translateZ(288px);}

img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

.dimension{
    width: 140px;
    height: 116px;
    align-content: center;
}


#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
}


